name: Students Check
run-name: Students Check

on:
  pull_request:
    branches:
      - '**'

jobs:
  check_files:
    name: Check files not changed
    runs-on: ubuntu-latest
    steps:
      - run: echo "Check files not changed"

  build:
    name: Build Application
    runs-on: ubuntu-latest
    steps:
      - run: echo "Build Application"

  run:
    name: Run Application
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "Run Application"

  check_output:
    name: Check that output correct
    runs-on: ubuntu-latest
    needs: run
    steps:
      - run: echo "Check that output correct"